.container {
    display: flex;
    justify-content: center;
    font-size: x-small;
    color: #DDDDDD;
}

.container_links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}